main.content {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.summ-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.summ-2 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 16px;
    gap: 8px;
}


.headline-summ {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    top: 16px;
    padding-left: 16px;
}

.headline-summ-h2 {
    color: #000000;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.summ-seperate {
    display: none;
    width: 0px;
    height: 60px;
    border: 3px solid #29ABE2;
}

.summ-info {
    color: #2A3647;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    display: flex;
    flex-direction: column;
}


.summ-seperate-mobile {
    width: 90px;
    gap: 0px;
    border: 3px solid #29ABE2;
}

.summ-stats {
    width: 100%;
    max-width: 560px;
    height: 100%;
    max-height: 480px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.topContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 33%;
    gap: 8px;
}

.summ-info-field {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #0000001A;
    transition: transform 125ms ease-in-out;
    border-radius: 10px;
    gap: 16px;
    box-sizing: border-box;
    padding: 8px;
    overflow: hidden;
}

.summ-info-field:hover {
    cursor: pointer;
    background-color: #2A3647;
    color: #FFFFFF;
    transform: scale(1.03);
}

.under-container {
    flex-direction: column;
    align-items: center;
}

.under-container span {
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    height: 50%;
    width: 100%;
}

.under-container span:first-child {
    align-items: flex-end;
}

.summ-info-field:hover span {
    color: #FFFFFF;
}

.summ-info-field img {
    height: 45px;
    width: auto;
}

.summ-toDO-info {
    width: 50%;
    height: 100%;
}

.summ-pencil-unvisible {
    display: block;
}

.how-many-done {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.summ-done-info {
    width: 50%;
    height: 100%;
}

.summ-done-info .summ-todo-cheking,
.summ-done-info:hover .summ-todo-hover-cheking,
.summ-toDO-info .summ-pencil-toDO,
.summ-toDO-info:hover .summ-pencil-unvisible {
    display: block;
}

.summ-done-info .summ-todo-hover-cheking,
.summ-done-info:hover .summ-todo-cheking,
.summ-toDO-info .summ-pencil-unvisible,
.summ-toDO-info:hover .summ-pencil-toDO {
    display: none;
}



.summ-open-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-many-dones {
    font-size: 24px;
    font-weight: 700;

    text-align: center;
}

.how-many-done {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.summ-stats-urgent {
    width: 100%;
    height: 33%;
}

.summ-stats-urgent:hover #howManyUrgent {
    color: #FFFFFF;
}

.summ-info-urgent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    gap: 16px;
}

.summ-urgent-seperate {
    height: 60px;
    border: 1px solid #29abe2;

}

.summ-urgent-date-container {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.summ-urgent-date {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #2A3647;
}

.summ-urgent-date-deadline {
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: #2A3647;
}

.summ-stats-under {
    display: flex;
    text-align: center;
    justify-content: space-between;

}

.summ-stats-under-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 33%;
    gap: 8px;
}

.summ-stats-under-container>.summ-info-field {
    width: 33%;
}


.summ-stats-under-howmany {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.summ-stats-under-tasks {
    font-size: 16px;
    font-weight: 400;
    color: #2A3647;
}

.summ-greeting {
    display: none;
    flex-direction: column;
    justify-content: center;
}

.summ-greeting-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 100%;
    height: auto;
    min-height: calc(100vh - 178px);
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

#greetingSummaryMobile.hide {
    opacity: 0;
}

#greetingSummaryMobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.summ-day-greeting {
    font-size: 32px;
    font-weight: 500;
    line-height: 56.4px;
    text-align: left;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin: 0;
    text-align: center;
}

.summ-person-greeting {
    font-size: 40px;
    font-weight: 700;
    margin-right: 10px;
    text-align: left;
    color: #29ABE2;
    text-align: center;
}

@media (min-width: 576px) {
    .summ-2 {
        padding: 24px;
        margin-top: 24px;
    }

    .headline-summ {
        flex-direction: row;
        align-items: center;
        top: 24px;
        padding-left: 24px;
    }

    .summ-seperate {
        display: block;
    }

    .summ-seperate-mobile {
        display: none;
    }

    .headline-summ-h2 {
        font-size: 48px;
    }

    .summ-info-urgent,
    .summ-info-field {
        gap: 24px;
    }

    .summ-stats-under-howmany,
    .how-many-dones {
        font-size: 40px;
    }

    .summ-urgent-date,
    .summ-info,
    .how-many-done {
        font-size: 24px;
    }

    .summ-urgent-date-deadline,
    .summ-stats-under-tasks {
        font-size: 20px;
    }

    .summ-info-field img {
        height: 72px;
        width: auto;
    }
}


@media (min-width: 1200px) {
    .summ-2 {
        padding: 40px;
        justify-content: space-between;
    }

    .summ-greeting {
        display: flex;
        width: 40%;
    }

    #greetingSummaryMobile {
        display: none;
    }

    .headline-summ {
        flex-direction: row;
        align-items: center;
        padding-left: 40px;
    }
}


@media (min-height: 800px) {
    .headline-summ-h2 {
        font-size: 48px;
    }

    .summ-2 {
        gap: 24px;
        align-items: center;
        justify-content: center;
    }

    .summ-stats,
    .topContainer,
    .summ-stats-under-container {
        gap: 16px;
    }

    .summ-info {
        font-size: 20px;
    }

    .summ-info-field {
        border-radius: 20px;
    }
}


@media (min-height: 960px) {
    .headline-summ-h2 {
        font-size: 56px;
    }

    .summ-info {
        font-size: 24px;
    }

    .headline-summ {
        top: 40px;
    }

    .summ-stats {
        max-height: 600px;
    }
}


@media (min-width: 1400px) {
    .summ-person-greeting {
        font-size: 56px;
    }

    .summ-day-greeting {
        font-size: 40px;
    }
}
