<section class="addTaskHeaderSection">
    <div>Add Task</div>
    <img class="addTaskModalClose" onclick="closeModal()" src="../assets/icons/closeGrey.svg">
</section>

<section class="addTaskSection" onclick="checkOutsideAssign(event)">

    <form onsubmit="return pushNewTask(event)" class="addTaskForm">

        <div class="inputContainer">
            <div class="inputContainerTop">
                <div class="singleInputContainer">
                    <div class="redStarAfter">Title</div>
                    <input id="taskTitle" type="text" placeholder="Enter a title" required maxlength="80">
                    <div class="formValidationText" style="display: none;">This field is required</div>
                </div>
                <div class="singleInputContainer">
                    <div>Description</div>
                    <textarea id="taskDescription" placeholder="Enter a Description" maxlength="240"></textarea>
                </div>
                <div class="singleInputContainer">
                    <div>Assigned to</div>
                    <div id="assignDropdown" class="assignContainer">
                        <input id="assignSearch" type="search" class="contactsAssignStandard"
                            value="Select contacts to assign" onclick="toggleDropdown()" oninput="assignSearchInput()"
                            placeholder="Search contacts" readonly>
                        <div class="imgContainer" onclick="toggleDropdown()">
                            <img id="assignDropArrow" src="../assets/icons/arrowdropdown.svg" alt="">
                        </div>
                        <div id="contactsAssigned" class="contactsAssigned"></div>
                        <div id="contactsToAssign" class="contactsToAssign"></div>
                    </div>
                </div>
            </div>

            <div class="seperatorLine"></div>

            <div class="inputContainerBottom">
                <div class="singleInputContainer" onclick="setActualDate()">
                    <div class="redStarAfter">Due date</div>
                    <input id="dateInput" class="dateInput" type="date" placeholder="dd/mm/yyyy" required>
                    <div class="formValidationText" style="display: none;">This field is required</div>
                </div>
                <div class="addTaskPrioContainer">
                    <div>Prio</div>
                    <div class="prioBtnContainer">
                        <div class="prioBtn prioBtnUrgent" onclick="setPrio(this)" data-prio="urgent">
                            <div>Urgent</div>
                            <img class="priourgentsmallWhite" src="../assets/icons/priourgentsmallWhite.svg">
                            <img class="priourgentsmall" src="../assets/icons/priourgentsmall.svg">
                        </div>
                        <div class="prioBtn prioBtnMedium prioBtnMediumActive" onclick="setPrio(this)"
                            data-prio="medium">
                            <div>Medium</div>
                            <img class="priomediumsmallWhite" src="../assets/icons/priomediumsmallWhite.svg">
                            <img class="priomediumsmall" src="../assets/icons/priomediumsmall.svg">
                        </div>
                        <div class="prioBtn prioBtnLow" onclick="setPrio(this)" data-prio="low">
                            <div>Low</div>
                            <img class="priolowsmallWhite" src="../assets/icons/priolowsmallWhite.svg">
                            <img class="priolowsmall" src="../assets/icons/priolowsmall.svg">
                        </div>

                    </div>
                </div>

                <div class="singleInputContainer">
                    <div class="redStarAfter">Category</div>
                    <div id="selectWrapper" class="select-wrapper" onclick="toggleCategoryDropdown(event, '')">
                        <input id="categoryInput" class="categoryInput" type="text" value=""
                            placeholder="Select task category" readonly required>
                        <div class="imgContainer">
                            <img id="categoryDropArrow" src="../assets/icons/arrowdropdown.svg" alt="">
                        </div>
                        <p onclick="toggleCategoryDropdown(event, 'Technical Task')" value="Technical Task">Technical
                            Task
                        </p>
                        <p onclick="toggleCategoryDropdown(event, 'User Story')" value="User Story">User Story</p>
                        </select>
                    </div>
                    <div class="formValidationText" style="display: none;">This field is required</div>
                </div>


                <div class="singleInputContainer">
                    <div>Subtasks</div>
                    <div class="subtasksInputContainer" onkeydown="addNewSubtask(event)">
                        <input id="subtaskInput" class="subtasksInput" type="text" placeholder="Add new subtask"
                            maxlength="80">
                        <img id="subtaskPlusIcon" class="subtaskPlusIcon" src="../assets/icons/addBlack.svg">
                        <div id="subtaskIconContainer" class="subtaskIconContainer dNone">
                            <img onclick="clearSubtaskInput()" class="icon" src="../assets/icons/delete.svg">
                            <div class="subtaskInputSeperator"></div>
                            <img onclick="saveSubtask()" class="icon" src="../assets/icons/checkBlackBig.svg">
                        </div>
                    </div>
                    <ul id="subtaskList" class="subtaskList"></ul>
                </div>
            </div>
        </div>



        <div class="bottomContainer">
            <div class="redStarBefore">This field is required</div>
            <div class="btnContainer">
                <div class="clearBtn" onclick="clearAddTaskForm()">
                    <div>Clear</div>
                    <img class="clearFormIcon" src="../assets/icons/clearIcon.svg">
                    <img class="clearFormIconBlue" src="../assets/icons/clearIconBlue.svg">
                </div>

                <button type="submit" id="createTaskBtn" class="createTaskBtn" onclick="return formValidation()">
                    <div>Create Task</div>
                    <img src="../assets/icons/check.svg">
                </button>
            </div>
        </div>
    </form>

    <div id="taskAddedBtn" class="taskAddedBtn d-None">
        <div>Task added to board</div>
        <img class="taskAddedBtnIcon" src="../assets/icons/boardIconWhite.svg">
    </div>

</section>