<div class="menuContainer">
  <a href class="menuLogoContainer logoContainer">
    <img class="menuLogo" src="../assets/icons/logowhite.svg" />
  </a>
  <div class="menuLinks">
    <div class="menuLegalContainer">
      <a class="menuBtn" href="../html/privacy.html" onclick="changeActive(this)">Privacy Policy</a>
      <a class="menuBtn" href="../html/imprint.html" onclick="changeActive(this)">Legal notice</a>
    </div>
    <div class="menuBtnContainer" id="menuUserContainer">
      <a class="menuBtn" href="../html/summary.html" onclick="changeActive(this)">
        <img class="menuBtnIcon" src="../assets/icons/summaryIconGrey.svg" />
        <img class="menuBtnIcon" src="../assets/icons/summaryIconWhite.svg" />
        <div>Summary</div>
      </a>
      <a class="menuBtn" href="../html/addtask.html" onclick="changeActive(this)">
        <img class="menuBtnIcon" src="../assets/icons/addtaskIconGrey.svg" />
        <img class="menuBtnIcon" src="../assets/icons/addtaskIconWhite.svg" />
        <div>Add Task</div>
      </a>
      <a class="menuBtn" href="../html/board.html" onclick="changeActive(this)">
        <img class="menuBtnIcon" src="../assets/icons/boardIconGrey.svg" />
        <img class="menuBtnIcon" src="../assets/icons/boardIconWhite.svg" />
        <div>Board</div>
      </a>
      <a class="menuBtn" href="../html/contacts.html" onclick="changeActive(this)">
        <img class="menuBtnIcon" src="../assets/icons/contactsIconGrey.svg" />
        <img class="menuBtnIcon" src="../assets/icons/contactsIconWhite.svg" />
        <div>Contacts</div>
      </a>
    </div>
  </div>
</div>